.avatar {
    display: inline-block;
}
.avatar-label {
    display: inline-block;
    padding-left: 6px;
    margin-top: -8px;

    p {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }

    small {
        color: $primary-color;
    }
}
