.no__margin {
    margin: 0 !important;
}
.no__padding {
    padding: 0px !important;
}
.no__padding-bottom {
    padding-bottom: 0px !important;
}
.no__padding-top {
    padding-top: 0px !important;
}
.no__shadow {
    box-shadow: none;
}
